*{
  margin: 0px;
  padding: 0px;
}
.login-container{
  background-color: #eeecec;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.login-container .image-container{
  padding: 10px;
  background-color: white;
  border: 2px solid white;
  border-radius: 44px;
  margin: 10px;
}
  .login-container .login-form{
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  font-family: 'petrona';
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-container .login{
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
  font-family: 'petrona';
}
.form{
  text-align: center;
  margin: 3px;
  padding: 5px;
}
.form-group{
  margin: 8px auto;
  width: 100%;
}
.loginBtn{
  width: 75%;
  margin: 10px;
  padding: 3px;
  background-color: #bf0c45;
  font-family: 'petrona';
  font-weight: bold;
  text-align: center;
  color: white;
  border-radius: 5px;
}