.cartitem-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
    padding: 5px;
    margin-bottom:13px;
    text-align: center;
}

.cartitem-image{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.cartitem-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
}

.cartitem-details-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
}

.cartitem-details-right{
    margin:auto 0px;
    min-width: 50px;
}

.cartitem-name{
    margin-bottom: 7px;
}

.cartitem-membership{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px 8px;
    margin: 2px;
    align-items: start;
    justify-content: center;
}

.cartitem-quantity 
input[type="number"]::-webkit-inner-spin-button,
.cartitem-quantity input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#cart-qty{
    width:35px;
    height:23px;
    padding-left: 4px;
}   

.kanteen-btn-container{
    text-align: center;
    width: 100px;
    margin: 5px;
    padding: 3px;
}

.kanteen-btn-container button{
    background-color: #bf0c45;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: 'petrona';
    font-weight: bold;
    cursor: pointer;
}

#cart-qty :focus{
    outline: none;
    box-shadow: 0 0 0 3px #c8f3fa,0 1px 2px rgba(15,17,17,.15) inset;
}

@media (max-width:410px){
    #cart-qty{
        margin-bottom: 7px;
    }
    .cartitem-membership{
        margin: 0;
        padding: 0;
    }
}

@media (min-width:510px){
    .cartitem-remove{
        margin: 0;
        padding: 0;
    }
}