.cart-container{
    max-width:500px;
    margin: 10px auto;
    padding: 10px;
}

.cart-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
}

.cart-heading-desc{
    font-family: 'petrona';
    padding-left: 10px;
}

.cart-heading-price{
    padding: 3px;
    color:black;
    font-size: 1.1rem;
    font-family: 'petrona';
}

.cart-content{
    background-color: white;
    padding: 10px;
    margin: 5px;
}

.cart-total{
    text-align: right;
    font-weight: bold;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    font-size: 1.3rem;
}

.cart-total span{
    color:#bf0c45;
    padding: 5px;
    font-weight: bold;
    font-family: 'petrona';
}