body {
  margin: 0px;
  padding: 0px;
  background-color: #e5e5e5;
}

.editprofile-homepage {
  height: 90vh;
  margin: 0px auto;
}

.editprofile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  height: 90vh;
  max-width: 85%;
  margin: 0px auto;
}

.editprofile-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
  max-width: 80%;
  height: 520px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 75px;
  margin-right: 2vw;
}

.editprofile-image-container img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.editprofile-form-container {
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  font-family: 'petrona';
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  margin: 5px;
}

.editprofile-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
  font-family: 'petrona';
  font-size: 25px;
}

.editprofile-form {
  width: 100%;
  max-width: 600px;
  text-align: left;
  margin: 3px;
  padding: 20px;
  box-sizing: border-box;
}

.editprofile-form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.editprofile-form-group label {
  font-size: large;
  font-family: 'petrona';
  width: 140px; /* Adjust this value as needed */
  margin-right: 10px;
  text-align: left;
}

.editprofile-form-group input[type="text"]{
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #bf0c45;
  font-size: medium;
  font-family: 'petrona';
  box-sizing: border-box;
}



@media (max-width: 1080px) {
  .editprofile-container {
    max-width: 100%;
  }
  .editprofile-image-container {
    max-width: 40%;
    padding: 0px;
    margin: 0px;
    border-radius: 0%;
  }
}

@media (max-width: 768px) {
  .editprofile-form {
    padding: 0px;
    margin: 0px;
  }
}

@media (max-width: 670px) {
  .editprofile-image-container {
    display: none;
  }
  .editprofile-container {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .editprofile-memory {
    flex-direction: column;
    text-align: center;
  }
  .editprofile-rememberMe {
    margin-bottom: 10px;
  }
}
