body{
    margin: 0;
    padding: 0;
    font-family: 'petrona';
    background-color: #e5e5e5;
}

.homepage-greeting{
    margin-top: 10px;
    margin-left: 5%;
    padding: 10px;
}

text-amrita {
    font-weight: 700;
    color: #bf0c45;
}

.foodpage-slogan text-grey{
    font-size: large;
    color: #6c757d;
    font-weight: bold;
}
.homepage-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.foodpage-slogan{
    padding: 7px;
    margin: auto 10px;
}

.foodpage-image{
    margin: 5px;
}

.homepage-alerts{
    padding: 10px;
    margin-left: 5%;
}

.homepage-alerts-list{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: 'petrona';
    padding: 10px;
    font-weight: 600;
}

.homepage-buttons{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.homepage-buttons button{
    padding: 10px;
    font-size: 18px;
    font-family: 'petrona';
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: #bf0c45;
    color: white;
}

.homepage-marquee{
    display: grid; 
    gap:10px 10px; 
    grid:repeat(1,150px)  /auto-flow 100px;
    margin: 10px  auto;
    background-color: green;
    width:fit-content;
    max-width: 85vw;
    overflow: hidden;
    padding: 20px;
    align-items: center;
}

.marquee-item{ 
    width:100px;
    height:100px;
    background-color: red; 
}