body{
    margin: 0;
    padding: 0;
    font-family: 'petrona';
    background-color: #e5e5e5;
}

.orderpage-cart-msg{
    color:white;
    font-size: larger;
    font-weight: 600;
    padding: 8px;
    background-color: black;
    font-family: 'petrona';
    border-radius: 37px;
    margin-bottom: 10px;
    position:fixed;
    right:10px;
    top:10px;
    z-index: 5;
}

.orderpage-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 7px 12px;
    color: #bf0c45;
    align-items: center;
    background-color: #dddddd;
}

.orderpage-search{
    position: relative;
    width: 20%;
    min-width: 200px;
    max-width: 240px;
    border-radius: 20px;
}

.orderpage-search input[type="text"]{
    padding: 10px;
    margin: 5px;
    width: 100%;
    font-family: 'petrona';
    font-weight: bold;
    border: 1px solid #6c757d;
    border-radius: 30px;
    background-color: white;
}

.orderpage-search input::placeholder{
    color:#bf0c45;
    font-family: 'petrona';
}

.orderpage-search-icon{
    position: absolute;
    top: 13px;
    right: -5px;
}

.orderpage-menu-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 7px;
    align-items: center;
    background-color: #dddddd;
    position: relative;
}

.orderpage-cart-nav-label{
    cursor:pointer;
    margin-left: 3px;
    padding: 2px;
    font-weight: bold;
}

@media screen and (max-width: 600px){
    .orderpage-cart-nav-label{
        display: none;
    }
}