*{
    margin: 0px;
    padding: 0px;
    letter-spacing: 1.35px;
}

.responsive-nav{
    display: none;
}

.responsive-nav-show{
    display: block;
}

.nav-body{
    background-color: #bf0c45;
    color: white; 
    font-family:'petrona';
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 8px;
}

.nav-body .wish{
    margin-right: 18px;
}

.hide-nav{
    display: none;
}

.hamburger button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}