*{
    margin: 0px;
    padding: 0px;
    letter-spacing: 1.35px;
}

.nav-body{
    background-color: #bf0c45;
    color: white; 
    font-family:'petrona';
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 8px;
}
.nav-body .app-name{
    margin-left: 18px;
}
.nav-body .wish{
    margin-right: 18px;
}

@media (max-width:400px){
    .nav-body{
        display: block;
    }
    .wish{
        display: none;
    }
    .app-name{
        margin-left: 50vw;
        text-align: center!important;
    }
}