a{
  text-decoration: none;
}

.text-amrita{
  color:#bf0c45;
  font-weight: 550;
  font-size: large;
  padding: 2px;
  margin: 0px 2px;
}

.signupmail-container{ 
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.signupmail-image-container { 
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    width:45vw;
    object-fit: contain;
}

.signupmail-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signupmail-form{
    border-radius: 10px;
    font-family: 'petrona';
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0,0,0,0.login-1);
    padding: 20px;
    margin: 5px;
}

.signupmail-signup-txt{
    text-align: center;
    font-weight: bold;
    display: block;
    font-family: 'petrona';
    font-size: 25px;
}

.signupmail-form input[type="checkbox"]{
    margin: 5px 8px;
    padding: 5px;
}

.signupmail-form-group{
    width: 100%;
    font-size: large;
    text-align: center;
    position: relative;
}

.signupmail-form-group input[type="email"]{
    width: 90%;
    padding: 14px;
    border-radius: 5px;
    border: 1px solid #bf0c45;
    font-family: 'petrona';
    font-size: large;
    margin-bottom: 5px;
}

.validate-icon{
  position: absolute;
  top: 7px;
  right: 26px;
  font-size: 35px;
  font-weight: 900;
}

.valid-border{
  border: 3px solid green!important;
}

.invalid-border{
  border: 3px solid red!important;
}

.signupmail-email-check-alert{
    color: rgb(255 0 0);
    font-size: larger;
    font-weight: 600;
    background-color: #d4d9dcb5;
    border-radius: 37px;
    padding: 10px;
    margin-top:8px;
    text-align: center;
}

.signupmail-mail-response{
    color: rgb(255 0 0);
    font-size: larger;
    font-weight: 600;
    padding: 8px;
    background-color: #d4d9dcb5;
    border-radius: 37px;
    text-align: center;
    margin: 5px;
    max-width: 45vw;
}

.signupmail-verifyBtn{
  width: 90%;
  margin: 18px auto;
  text-align: center;
}
.VerifyBtn{
    width: 90%;
    padding: 10px 20px;
    font-family: 'petrona';
    cursor: pointer;
    color: white;
    font-size:18px;
    border-radius: 30px;
}

.signupmail-terms{
  font-size: large;
  width: 94%;
  padding: 2px;
  margin: 10px auto;
}

@media(max-width:450px){
  .validate-icon{
    display: none !important;
  }
  .signupmail-form{
    padding: 0px !important;  
  }
}