.updatepassword-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .updatepassword-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    width:55vw;
    object-fit: contain;
  }
  
  .updatepassword-form-container {
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    font-family: 'petrona';
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 5px;
  }
  
  .updatepassword-title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    font-family: 'petrona';
    font-size: 25px;
  }
  
  .updatepassword-form {
    width: 100%;
    max-width: 600px;
    text-align: left;
    margin: 3px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .updatepassword-form-group {
   
    align-items: center;
    margin-bottom: 20px;
  }
  
  .updatepassword-label {
    font-size: large;
    font-family: 'petrona';
    width: 165px; 
    margin-right: 10px;
    text-align: left;
  }
  .updatepassword-group input[type="text"],.updatepassword-group input[type="password"]{
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #bf0c45;
    font-size: medium;
    font-family: 'petrona';
    box-sizing: border-box;
  }
  .updatepassword-group {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .updatepassword-eye {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  
  .updatepassword-button-container {
    text-align: center;
    margin-top: 10px;
  }
  
  .updatepassword-button {
    width: 50%;
    margin: 10px;
    padding: 10px 20px;
    background-color: #bf0c45;
    font-family: 'petrona';
    cursor: pointer;
    text-align: center;
    color: white;
    font-size:18px;
    border-radius: 30px;
  }
  
  .updatepassword-button:hover {
    background-color: #0a9a50;
  }
  
  .signupacnt-check-text {
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 5px;
  }
  
  .signupacnt-pwd-check {
    margin-bottom: 10px;
  }

  @media (max-width:1020px){
    .updatepassword-form{
      padding: 0px!important;
      margin: 0px!important;
    }
  }